body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.items {
  width: 600px;
  height: 200px;
  border: 3px solid #444;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
  background-color: white;
  scroll-behavior: smooth;
}

.items.active {
  cursor: grabbing;
}

.item {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 20px 10px;
  background: #007bff;
  color: #fff;
  font-size: 2em;
  line-height: 150px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.item:active {
  transform: scale(1.05);
}
